@charset "UTF-8";

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F2E9FB; 
    color: #4A235A; 
}

/*CABEÇALHO*/
header {
    background-color: #4A235A; 
    padding: 20px;
    border-bottom: 1px solid #7D5A9B;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
    
}

header h1 {
    margin: 0;
    font-size: 50px;
    color: #F2E9FB;
    text-align: center;
}

nav {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    color: #F2E9FB;
    font-weight: bold;
    padding: 10px;
}

nav a:hover {
    color: white;
    background-color: #7D5A9B;
    border-radius: 5px;
}

/*CONTEÚDO PRINCIPAL*/
main {
    padding: 40px 20px;
}

/*Títulos*/
h2, h3 {
    color: #4A235A;
}

h2 {
    text-align: center;
    font-size: 50px;
}

/*SOBRE MIM*/
#sobre {
    background-color: #C7B0D9; 
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 40px;
    text-align: justify;
}

#sobre img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 6px solid #7D5A9B;
    margin-bottom: 10px;
}

#sobre figure {
    text-align: center;
}

/* TABELA DE HABILIDADES */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background-color: #7D5A9B;
    padding: 12px;
    border: 1px solid #C7B0D9;
    color: white;
}

td {
    padding: 12px;
    border: 1px solid #C7B0D9;
    background-color: #F2E9FB;
}

/* PROJETOS */
#projetos {
    padding: 10px;
    background-color: #E9DDF5;
    text-align: justify;
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.384);
}

#projetos ol {
    padding-left: 15px;
}

li {
    color: #4A235A;
}

p {
    color: #4A235A;
}

/*FORMULÁRIO DE CONTATO*/
form {
    display: flex;
    flex-direction: column;
    background-color: #C7B0D9;
    padding: 25px;
    max-width: 450px; /* Esse max-width é só para deixar responsivo o formulario */
    margin: auto;
    border-radius: 10px;
    border: 1px solid #7D5A9B;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
}

label {
    margin: 5px 0px;
}

input, textarea {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #7D5A9B;
    background-color: #F2E9FB;
    color: #4A235A;
}

button {
    margin-top: 10px;
    padding: 12px;
    border: none;
    background-color: #7D5A9B;
    border-radius: 6px;
    font-weight: bold;
    font-size: 17px;
    color: white;
}

button:hover {
    background-color: #4A235A;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
}

/*RODAPÉ*/
footer {
    text-align: center;
    padding: 20px;
    background-color: #4A235A;
    border-top: 1px solid #7D5A9B;
}

footer p {
    color: #F2E9FB;
}
